<div class="container">
  <% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved:</h2>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-10">

      <%= form_with model: @article, local: true, class: 'shadow p-4 mb-3 bg-info' do |f| %>
        <div class="form-group row">
            <%= f.label :title , class: 'col-2 col-form-label text-white'%>
            <%= f.text_field :title, class:'col-10 form-cotrol shadow rounded', placeholder: "Title of article", autofocus: true %>
        </div>

        <div class="form-group row">
            <%= f.label :description, class: 'col-2 col-form-label text-white' %>
            <%= f.text_area :description, rows: 10, class: "col-10 form-control shadow rounded", placeholder: "Description of article" %>
        </div>

        <div class="form-group row justify-content-center">
            <%= f.submit class: 'btn btn-outline-light btn-lg' %>
        </div>
      <% end %>
    
    </div>

    
    <%= link_to "| Cancel request and return to articles listing |", articles_path, class: 'text-info' %>
    
  </div>

</div>
